.thumbnail {
  width:100%;
}
.video-title{
  margin-top:0;
  font-size:14px;
  font-weight:500;
  line-height:20px;
  margin-bottom:12px;
}
.video-info-grid{
  display:grid;
  grid-template-columns:50px 1fr;
}

.profile-picture{
  width:36px;
  height:36px;
  object-fit:center;
  border-radius: 50%;
}
.thumbnail-row{
  margin-bottom:10px;
  position:relative;
}
.video-author,.video-stats{
  font-size:12px;
  color:rgb(96,96,96);
}
.video-author{
  margin-bottom:4px;
}
.video-grid {
  display:grid;
  grid-template-columns: repeat(3,1fr);
  column-gap:16px;
  row-gap:40px;
}
@media (min-width:1200px){
  .video-grid{
    grid-template-columns: repeat(4,1fr);
  }
}
@media(max-width:800px){
  .video-grid{
    grid-template-columns:repeat(2,1fr);
  }
}
@media(max-width:500px){
  .video-grid{
    grid-template-columns:repeat(1,1fr);
  }
}
.video-time{
  font-family: Roboto, Arial;
  font-size:12px;
  font-weight:500;
  background-color:black;
  color:white;
  position:absolute;
  bottom:10px;
  right:8px;
  padding-left:4px;
  padding-right:4px;
  padding-top:4px;
  padding-bottom:4px;
  border-radius:2px;
}
.youtube-link{
  text-decoration:none;
  color:inherit;
}
.youtube-link:hover{
  opacity:0.90;
}


.main-container:hover .card{
  opacity:1;
  pointer-events:auto;
  transform:translateY(0);
}
.cat{
  margin-left:10px;
  width:50px;
  height:50px;
  border-radius:50%;
  object-fit:cover;
}
.cat-card{
  width:48px;
  height:48px;
  border-radius:50%;
  object-fit:cover;
  flex:0 0 48px;
}
.name{
  font-size:20px;
  color:black;
  font-weight:700;
  font-family:Roboto, Arial;
  white-space:nowrap;
}
.subscriber{
  margin-top:8px;
  font-weight:bold;
  font-size:22px;
  color:rgb(93, 87, 87);
}
.card{
  position:absolute;
  top:45px;
  left:0px;
  background-color:rgb(254, 254, 254);
  border-radius:8px;
  padding:10px;
  min-width:180px;
  max-width:300px;
  box-shadow:5px 5px 10px rgba(0,0,0,0.15);
  z-index:1000;

  opacity:0;
  pointer-events:none;
  transition: opacity 0.2s ease, transform 0.2s ease;

  display:flex;
  align-items: center;
  gap:12px;
  justify-content:flex-start;
}
.details{
  display:flex;
  flex-direction:column;
  justify-content: center;
}

.channel-picture{
  position:relative;
}